body {
	font-family: sans-serif;
	background:#e9544d;
}
p {
	margin:auto;
	max-width:900px;
	color:#fff;
}
a {
	color:#fff;
}
h1 {
    font-family: "SofiaRegular";
	text-align:center;
	color:#fff;
	font-size:3em;
}
nav {
	max-width:900px;
	margin:auto;
}
nav a {
    font-family: "SofiaRegular";
   order: 0;
	flex: 0 1 auto;
	align-self: auto;
	flex-direction: column;
	display: inline-flex;
	border: 3px solid #fff;
	width:150px;
	height:150px;
	padding: 10px;
	margin:10px;
	box-sizing:border-box;
	vertical-align:middle;
	overflow: hidden;
	text-align:center;
	justify-content: center;
	align-items: center;
	text-decoration:none;
	font-size:3em;
	color: #fff;
	border-radius:10px;
	text-shadow: -4px 0 #333, 0 4px #333, 4px 0 #333, 0 -4px #333;

}
nav a:nth-child(1) {
	background:url("emojis/1F384.svg") #fff;
}
nav a:nth-child(2) {
	background:url("emojis/1F381.svg") #fff;
}
nav a:nth-child(3) {
	background:url("emojis/1F427.svg") #fff;
}
nav a:nth-child(4) {
	background:url("emojis/26C4.svg") #fff;
}
nav a:nth-child(5) {
	background:url("emojis/1F3BF.svg") #fff;
}
nav a:nth-child(6) {
	background:url("emojis/1F43B.svg") #fff;
}
nav a:nth-child(7) {
	background:url("emojis/1F3C2.svg") #fff;
}
nav a:nth-child(8) {
	background:url("emojis/1F984.svg") #fff;
}
nav a:nth-child(9) {
	background:url("emojis/1F3A1.svg") #fff;
}
nav a:nth-child(10) {
	background:url("emojis/1F56F.svg") #fff;
}
nav a:nth-child(11) {
	background:url("emojis/1F372.svg") #fff;
}
nav a:nth-child(12) {
	background:url("emojis/1F9E6.svg") #fff;
}
nav a:nth-child(13) {
	background:url("emojis/2744.svg") #fff;
}
nav a:nth-child(14) {
	background:url("emojis/1F36F.svg") #fff;
}
nav a:nth-child(15) {
	background:url("emojis/1F380.svg") #fff;
}
nav a:nth-child(16) {
	background:url("emojis/1F36A.svg") #fff;
}
nav a:nth-child(17) {
	background:url("emojis/1F36B.svg") #fff;
}
nav a:nth-child(18) {
	background:url("emojis/1F9F8.svg") #fff;
}
nav a:nth-child(19) {
	background:url("emojis/1F386.svg") #fff;
}
nav a:nth-child(20) {
	background:url("emojis/1F43F.svg") #fff;
}
nav a:nth-child(21) {
	background:url("emojis/2615.svg") #fff;
}
nav a:nth-child(22) {
	background:url("emojis/1F3D4.svg") #fff;
}
nav a:nth-child(23) {
	background:url("emojis/1F98C.svg") #fff;
}
nav a:nth-child(24) {
	background:url("emojis/1F936.svg") #fff;
}
nav a:nth-child(25) {
	background:url("emojis/1F385.svg") #fff;
}
nav a.soon {
	background:#ffffff;
}
nav a.day {
	color:#e9544d;
}
nav a.day:hover, nav a.open:hover  {
	background:#e9544d;
	border: 3px dashed #fff; 
}
main {
	max-width:900px;
	margin:auto;
	box-sizing: content-box;
	text-rendering:optimizelegibility;
  scroll-behavior: smooth;
}
article {
	max-width:900px;
	margin:auto;
	border-radius:10px;
	background:#fff;
	padding:1em;
	box-sizing:border-box;
}
fieldset {
   order: 0;
	flex: 0 1 auto;
	align-self: auto;
	flex-direction: column;
	display: inline-flex;
	box-sizing:border-box;
	vertical-align:middle;

	margin:0.5em;
	box-sizing:border-box;
	width:150px;
	color:#fff;
	border:2px solid white;
}
table {
}
th {
	background:#fff;
	color:#e9544d;
}
td, th {
	border-bottom: 1px solid #fff;
}
input,
button,
textarea,
select, textarea {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  	width:95%;
	display:block;
}

textarea {
	height:10em;
}
footer {
	text-align:center;
	color:#fff;
}
footer a {
	font-size: 0.7em;
	text-decoration:none;
	color:#fff;
}


